.book-service form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}
.book-service form input{
    width: 100%;
    margin-bottom: 10px;
}