  .list-group-item {
    border: none;
    padding: 20px 30px;
    font-weight: bold;
  }
  hr.solid {
    border-top: 3px solid #bbb;
  }
  .bginfo{
    background-color:  rgb(22, 22, 95);
    /* background-image: linear-gradient(rgb(27, 27, 27),rgb(43, 43, 43)); */
    border-radius: 15px 10px 15px;
  }
  .bg-row{
      max-width: 100%;
      background-color:blue;
  }
  .dash{
      min-width: 100%;
      /* background-color: blue; */
  }