.top{
    background-color: #264653;    
    margin: 0 auto;
}
.header-text{
    color: #ad391cfb;
}
.header-btn{
    font-style: normal;
    color: #ad391cfb;
    background-image: linear-gradient(rgb(245, 166, 20), #ad391cfb);
}
.header-btn:hover{
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
}
.header-p{
    color: #264653;
}