.top{
    background-color: #264653;    
    margin: 0 auto;
}
.header{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}
.details{
    color: #E0E0E0;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}
.hero{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #0A0826;
}
.btn-bike{
    background-color: #E76F51;
    border: none;
}
.btn-bike:hover{
    background-color: coral;
    border: none;
}
.header-bike{
    padding: 50px 100px;
}